<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Clemens Schützdeller</title>
    <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/home/csLogo180.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="/home/csLogo032.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="/home/csLogo016.png" />
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<link rel="stylesheet" href="/home/styles/screenLayout.css" />
    <script>
      function setLanguage() {
      }
    </script>
	  
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']]
        }
      }
    </script>
		
  </head>
	
  <body onload="setLanguage()">
    <div id="header">
      <div><a href="/home">Clemens Joh Schützdeller</a></div>
      <div><a href=/home/Pages.html><b>Index</b></a></div>
      <div<span id="german" onClick="setGerman()">de</span> <span id="debug"></span> <span id="english" onClick="setEnglish()">en</span>
      </div>
    </div>
    
    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      <div><a href="/home/Impressum.html">Impressum</a></div>
    </div>
  </body>
</html>
