<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Clemens Schützdeller</title>
    <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/home/csLogo180.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="/home/csLogo032.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="/home/csLogo016.png" />

		<link rel="stylesheet" href="/home/styles/screenLayout.css" />
		<link rel="stylesheet" href="/home/styles/headerLayout.css" />
		<link rel="stylesheet" href="/home/styles/footerLayout.css" />
		<link rel="stylesheet" href="/home/styles/elements.css" />
		<link rel="stylesheet" href="/home/styles/myClasses.css" />
    <script src="/home/styles/setLanguage.js"></script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	  
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']]
        }
      }
    </script>
  </head>
	
  <body onload="setLanguage()">
    <div id="container">
			
      <div id="header">
  	    <div class="headerBanner">
          <div id="ht" class="headerTitle"><a href="/home">Clemens Schützdeller</a></div>
          <div class="headerIndex" id="headerIndex"><a href=/home/Pages.html><b>Index</b></a></div>
          <div class="headerLanguages" id="headerLanguages"><span id="german" onClick="setGerman()">de</span> <span id="debug"></span> <span id="english" onClick="setEnglish()">en</span></div>
  			</div>
      </div>

      <div id="content">
				<div class="hGrid">
		  		<div class="grid-1"><img src="/home/styles/UnderConstruction.jpg"></div>
  				<div class="grid-2"><div class="gridHeader" style="padding-top: calc(3.0 * var(--base-font-size));">Under Construction</div></div>
					<div class="gridBreak"></div>
				</div>
        <!-- 
  			-->
  			{{ content }} 
      </div>

      <div id="footer">
  			<div class="footerBanner">
  				<div class="footerText"><a href="/home/Impressum.html">Impressum</a></div>
  			</div>
  		</div>
			
		</div>
  </body>
</html>
