h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: calc(1.0 * var(--base-font-size));
  padding-bottom: calc(0.3 * var(--base-font-size));
}
h1 { font-size: calc(2.0 * var(--base-font-size)); color: #155799; text-align: center; padding-top: calc(1.5 * var(--base-font-size)); }
h2 { font-size: calc(1.8 * var(--base-font-size)); }
h3 { font-size: calc(1.5 * var(--base-font-size)); }
h4 { font-size: calc(1.2 * var(--base-font-size)); }
h5 { font-size: calc(1.0 * var(--base-font-size)); font-weigth: bold; }
h6 { font-size: calc(1.0 * var(--base-font-size)); font-weigth: bold; font-style: italic;}

p {
  margin: 0;
  padding-top: calc(0.3 * var(--base-font-size));
  padding-bottom: calc(0.3 * var(--base-font-size));
  font-size: calc(1.0 * var(--base-font-size));
}
      
ul {
  padding-top: calc(-0.6 * var(--base-font-size));
  padding-left: calc(1.5 * var(--base-font-size));
  padding-bottom: 0;
}
li {
  padding-top: calc(0.3 * var(--base-font-size));
  padding-bottom: calc(0.3 * var(--base-font-size));
}

a {
  color: #00aaff;
  text-decoration: none;
}
.headerBanner a,
.footerBanner a	  {
  color: inherit;
}

img {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
