.headerBanner {
  height: 100%;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  padding-bottom: 1vh;
}
  

      .headerTitle {
        font-size: 5.0vh;
        color: #e8eef8;
        text-align: center;
      }
      .headerIndex {
        font-size: 1.5vh;
        color: #e8eef8;
        color: black;
        text-align: left; 
        float:left;
        padding-top: 7vh;
        padding-left: 2vw;
      }
      .headerLanguages {
        font-size: 1.5vh;
        color: #e8eef8;
        text-align: right;
        padding-top: 7vh;
        padding-right: 2vw;
      }
