.headerBanner {
  height: 100%;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  /* padding-bottom: 1vh; */
  color: #e8eef8;
}
  
.headerTitle {
  padding-top: .5 * var(--base-font-size);
  text-align: left;
  font-size: 20 * var(--base-font-size);
}

.headerIndex {
  float:left;
  padding-left: 2vw;
  text-align: left; 
  font-size: .8 * var(--base-font-size);
}

.headerLanguages {
  padding-right: 2vw;
  text-align: right;
  font-size: 1.5vmin;
}
