.headerBanner {
  height: 100%;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  /* padding-bottom: 1vh; */
  color: #e8eef8;
}
  
.headerTitle {
  padding-top: calc(.4 * var(--base-font-size));
  text-align: left;
  font-size: calc(2 * var(--base-font-size));
  border: 1px solid red;
}

.headerIndex {
  float:left;
  padding-left: 2vw;
  text-align: left; 
  font-size: calc(.8 * var(--base-font-size));
  border: 1px solid black;
}

.headerLanguages {
  padding-right: 2vw;
  text-align: right;
  font-size: calc(.8 * var(--base-font-size));
  border: 1px solid black;
}
