.de {
  display: block;
}
.en {
  display: none;
}



.hGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: calc(2 * var(--base-font-size));
  align-items: flex-start;
  padding: var(--base-font-size);
}
.grid-1 {
  width: calc(8 * var(--base-font-size));
  flex-grow: 0;
}
.grid-1 img {
  width: 100%;
}
.grid-2 {
  flex-basis: 0;
  flex-grow: 1;
}
.gridBreak {
  flex-basis: 100%;
  height: calc(1.0 * var(--base-font-size));
}

.gridHeader {
  font-size: calc(2.0 * var(--base-font-size));
  font-weight: bold;
  color: #155799;
  padding: 0;
  padding-top: calc(0.5 * var(--base-font-size));
}
.gridTitle {
  padding-top: calc(1.0 * var(--base-font-size));
  font-size: calc(1.5 * var(--base-font-size));
  line-height: 1;
  padding-bottom: calc(1.0 * var(--base-font-size));
  font-weight: bold;
  font-style: italic;
}
.gridTitle > * {
  max-width: calc(22.0 * var(--base-font-size));
}
.gridDescription {
  font-size: calc(0.8 * var(--base-font-size));
}

.bordered {
  border: 1px solid #888888;
  border-radius: 20%;
}

.hint {
	padding-left: calc(2.0 * var(--base-font-size));
}
.hint::before {
  margin-left: calc(-2.0 * var(--base-font-size));
  padding-left: calc(0.5 * var(--base-font-size));
	content: "👉";
  padding-right: calc(0.5 * var(--base-font-size));
}

.appButton {
  display: inline-block;
  width: calc(1.0 * var(--base-font-size));
  height: calc(1.0 * var(--base-font-size));
}
