.de {
  display: block;
}
.en {
  display: none;
}

.hGrid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: calc(2 * var(--base-font-size));
  align-items: center;
  padding: var(--base-font-size);
  padding-bottom: 0;
}
.gridHeader {
  font-size: calc(2.0 * var(--base-font-size));
  font-weight: bold;
  color: #155799;
  padding: 0;
  padding-top: calc(0.5 * var(--base-font-size));
}
.gridLogo {
  width: 20%;
  height: auto;
}

      .logoTitle {
        font-size: calc(1.5 * var(--base-font-size));
        font-weight: bold;
        font-style: italic;
        padding-top: 0;
        padding-bottom: 0;
      }
      .logoDescription {
        padding-top: calc(0.8 * var(--base-font-size));
        font-size: calc(0.8 * var(--base-font-size));
      }


.row {
  margin-top: 0em;
  margin-bottom: 0em;
}
/* Clear floats after the columns */
.row:after {
  height: var(--base-font-size);
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding-top: 0em;
  padding-left: var(--base-font-size);
  padding-right: var(--base-font-size);
  padding-bottom: 0em;
}
.colWidth25 {
  width: 25%;
}
.colWidth75 {
  width: 75%;
}


.vCentered {
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}
