html {
  height: -webkit-fill-available;
}

body{        
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

#header, #footer{
  position: fixed;        
  width: 80vw;
  left: 10vw; /* ???*/
  border: 1px solid blue;
}
#header{
  height: 10vh;
  top: 0;
}
#footer{
  height: 5vh;
  bottom: 0;
}    

#content{
  position: fixed;
  height: 85vh;
  top: 10vh;
  width: 80vw;
  left: 10vw;
  overflow: auto;
  border: 1px solid red;
}
