body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4vh;
  line-height: 1.3;
  color: #404c51;
  padding: 0;
}

#container {
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  height: 100%;
}

#header, #footer, #content {
  width: 100%;
  border: 1px solid gray;
}
#header{
  height: 10%;
}
#footer{
  height: 5%;
}    

#content{
  height: 85%;
  overflow: auto;
}
