body{        
  margin: 0;
}

#header, #footer{
  position: fixed;        
  width: 80vw;
  left: 9vw; /* ???*/
  margin: 0;
  border: 2px solid blue;
}
#header{
  top: 0;
  height: 10vh;
  }
#footer{
  height: 5vh;
  bottom: 0;
}    

#content{
  position: fixed;
  top: 10vh;
  height: 82vh;
  left: 9vw;
  width: 78vw;
  padding: 2vw;
  overflow: auto;
  border: 2px solid red;
}
