body {
  margin: 0;
  right: 10%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4vh;
  line-height: 1.3;
  color: #404c51;
  padding: 0;
}

#header, #footer{
  position: fixed;        
  height: 100%;
  left: 10%;
  cs.border: 1px solid gray;
}
#header{
  top: 0;
  height: 10%;
}
#footer{
  height: 5%;
  bottom: 0;
}    

#content{
  position: fixed;
  top: 10%;
  height: 85%;
  left: 10%;
  right: 10%;
  overflow: auto;
  border: 1px solid yellow;
}


@media print {
  @page {
    size: A4;
  }
  
  #header,
  #footer {
    display: none !important;
  }
  #content {
    position: relative;
    overflow: visible;
  }
}
